### Import pandas package below

In [16]:
import yfinance
import pandas as df

## API - Application Programming Interface

In [19]:
amzn = yfinance.download('amzn')

[*********************100%***********************]  1 of 1 completed

In [21]:
amzn.tail()

                 Open       High        Low      Close  Adj Close    Volume
Date
2023-02-21  95.339996  95.610001  94.269997  94.580002  94.580002  56580400
2023-02-22  95.099998  97.010002  94.800003  95.790001  95.790001  59534100
2023-02-23  96.120003  96.430000  93.669998  95.820000  95.820000  48467000
2023-02-24  93.529999  94.139999  92.320000  93.500000  93.500000  57010100
2023-02-27  94.279999  94.779999  93.620003  94.449997  94.449997  10418725

### Data types

### Strings 'I am a string'

### Int 1,2,3

### Float 3.14

# Two main data structures in Python

1. Lists
        i.e. []

In [30]:
ex_list_one = [1,2,3]
ex_list_two = [4,5,6]

In [36]:
print(ex_list_one)
print(ex_list_two)

[1, 2, 3]
[4, 5, 6]

2. Dictionaries
        {}

In [33]:
dict_one = {
    'key1':'value1', 
    'key2':'value2', 
}

In [38]:
# Keys
print(dict_one.keys())

dict_keys(['key1', 'key2'])

In [39]:
# Values
print(dict_one.values())

dict_values(['value1', 'value2'])

In [40]:
# Items
print(dict_one.items())

dict_items([('key1', 'value1'), ('key2', 'value2')])